<%#
Archive
Shows each year and post count

@author Ian Warner <ian.warner@drykiss.com>
@category molecule
%>

<%# Variable %>
<%
root = extensions[:i18n].options[:mount_at_root]
blog = 'blog'
%>

<section class="blog-archive">

  <%# Heading - H4 %>
  <%= partial 'partials/molecule/heading.erb', locals: {
    extraClass: 'blog-archive__heading',
    tag: 'h4',
    text: :'archive.title' } %>

  <%# Loop through the articles %>
  <% blog(blog).articles.group_by {|y| y.date.year}.each do |year, articles| %>

    <dl class="blog-archive__list list-unstyled">

      <dt class="blog-archive__dt">

        <%# Link to year page %>
        <% link_to(blog_year_path(year, blog)) do %>
          <%= year %>

          <%# Badge %>
          <%= partial 'partials/atom/badge.erb', locals: {text: articles.count} %>
        <% end %>

      </dt>

      <%# If month %>
      <% if locals[:months] %>

        <dd class="blog-archive__dd">

          <%# Loop through the articles %>
          <% articles.group_by {|a| a.date.month}.each do |month, monthArticles| %>
            <ul class="list-unstyled">
              <li>

                <%# Link to month page %>
                <% link_to(blog_month_path(year, month, blog)) do %>
                  <%= monthArticles.first.date.strftime('%b') %>
                  <%= partial 'partials/atom/badge.erb', locals: {text: monthArticles.count} %>
                <% end %>

              </li>
            </ul>
          <% end %>

        </dd>
      <% end %>

    </dl>

  <% end %>

</section>
