<%#
Find food
Create the sidebar module to hook into the Deliveroo API

@author Ian Warner <ian.warner@drykiss.com>
@category blog

@todo Make this into one component - just use the google for both postcode and address etc
@todo List all the Params utilised
%>

<%# Use the post code find food %>
<% if t(:'findFood.postCode') == 'true' %>

  <section class="find-food" ng-controller="FindFoodController as findFood">

    <div id="resolutionSize" class="hidden-xs hidden-sm visible-md visible-lg"></div>

    <div class="find-food__position find-food--<%= t(:'findFood.colour') %>">

      <form class="find-food__form" name="findFoodForm" novalidate role="form" ng-submit="findFood.findFood($event, findFoodForm.$valid)">

        <%= partial 'partials/atom/input.erb', locals: {
          button: {append: {extraClass: 'find-food__button', text: :'findFood.input.button', type: 'submit'}},
          input:  {inputGroupClass: 'input-group input-group-lg',
                   name: 'post_code',
                   placeholder: :'findFood.input.placeholder',
                   required: true,
                   ng: {model: 'findFood.formData.post_code'},
                   showError: false},
          label:  {title: :'findFood.input.label'}}
        %>

      </form>

      <div class="find-food__error ng-cloak" ng-if="findFood.showError">
        <p><%= t(:'findFood.error') %></p>
      </div>

      <% link_to(t(:'deliverooLink'), {class: 'find-food__link text-right', title: 'Deliveroo link'}) do %>
        <%= t(:'findFood.link') %>
        <i class="fa fa-link-ext"></i>
      <% end %>

    </div>

  </section>

<%# Use Google Autocomplete selector %>
<% else %>

  <%# FIND FOOD - uses AutocompleteController %>
  <section data-mapkey="<%= data.google.api %>" class="find-food" ng-controller="AutocompleteController as autocomplete">

    <div id="resolutionSize" class="hidden-xs hidden-sm visible-md visible-lg"></div>

    <div class="find-food__position find-food--<%= t(:'findFood.colour') %>">

      <%# Google autocomplete %>
      <%= partial 'partials/social/google/autocomplete.erb', locals: {
        country: t(:'findFood.country'),
        button: true} %>

      <%# Footer link %>
      <% link_to(t(:'deliverooLink'), {class: 'find-food__link text-right', title: 'Deliveroo link'}) do %>
        <%= t(:'findFood.link') %>
        <i class="fa fa-link-ext"></i>
      <% end %>

      <%# Modal body %>
      <% body = capture_html do %>

        <p><%= t(:'findFood.modal.pin') %></p>

        <%# Google automcomplete %>
        <%= partial 'partials/social/google/autocomplete.erb', locals: {
          extraClass: 'sr-only',
          country: t(:'findFood.country'),
          button: false} %>

        <div class="embed-responsive embed-responsive-16by9">
          <div class="google-map embed-responsive-item"></div>
        </div>

      <% end %>

      <%# Modal footer %>
      <% footer = capture_html do %>

        <div class="pull-left">
          <%= partial 'partials/atom/button.erb', locals: {size: 'lg', text: :'findFood.modal.cancel', data: {dismiss: 'modal'}} %>
        </div>

        <%= partial 'partials/atom/button.erb', locals: {
          size: 'lg',
          context: 'primary',
          text: :'findFood.modal.confirm',
          ng: {click: "autocomplete.modalConfirm('#{t(:'findFood.url')}')"}} %>

      <% end %>

      <%# Map Modal %>
      <%= partial 'partials/molecule/modal.erb', locals: {body: body, footer: footer, id: 'placesModal', title: :'findFood.modal.title'} %>

    </div>

  </section>

<% end %>
