<%#
Post card

@author Ian Warner <ian.warner@drykiss.com>
@category blog

@param {object} article Middleman article
@param {object} article Middleman article
%>

<%# Variables %>
<%
data = locals[:article]
blog = "blog"
%>

<%# Article %>
<article class="post-card" role="article" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">

  <%# Container %>
  <div class="post-card__container">

    <%# Check for image %>
    <% if data.image %>

      <%# Link - no follow %>
      <% link_to(locals[:url], { rel: 'nofollow' }) do %>

        <%# Image %>
        <%= partial 'partials/atom/image.erb', locals: {
          extraClass: 'post-card__image img-responsive',
          src: data.image.gsub('/h_', '/card_h_') } %>

      <% end %>

    <% end %>

  </div>

  <%# Content %>
  <div class="post-card__content">

    <% if ENV['site'] === 'news.deliveroo.co.uk' %>
      <%# Date %>
      <time class="post-card__date" pubdate="pubdate" itemprop="datePublished" datetime="<%= data.date.to_date.strftime('%FT%T') %>Z">
        <%= data.date.to_date.strftime('%-d %B %Y') %>
      </time>
    <% else %>

      <%# Category %>
      <div class="post-card__category">
        <%= link_to(data.category.gsub('-', ' ').upcase, category_path(data.category, blog)) %>
      </div>

    <% end %>

    <%# Heading and Excerpt - H4 %>
    <div class="post-card--detail">
      <%= partial 'partials/molecule/heading.erb', locals: {
        extraClass: 'post-card__heading',
        href: locals[:url],
        itemprop: 'name',
        rel: 'nofollow bookmark',
        tag: 'h4',
        text: data.heading } %>

      <% if data.excerpt && data.category != 'terms' %>
        <p class="post-card__excerpt" itemprop="description">
          <%= data.excerpt %>
        </p>
      <% end %>
    </div>

    <%# Tags %>
    <% if data.tags && data.category != 'terms' %>
      <div class="post-card__tags">

        <%# Loop through the Tags %>
        <% data.tags.first(5).each do |tag| %>
          <%= link_to(tag, tag_path(tag, blog), {
            class: 'label label-info post-card__tag' }) %>
        <% end %>

      </div>
    <% end %>

  </div>

  <div class="post-card__action">

    <%# Readtime %>
    <div class="pull-left post-card__readtime">
      <%= data.readtime %>
      min read
    </div>

    <%# Author %>
    <% if data.author && data.category != 'terms' %>
      <div class="pull-left blogDetail__author">
        &nbsp;by
        <%= link_to(data.author, author_path(data.author, blog), {
          itemprop: 'url',
          rel: 'author' }) %>
      </div>
    <% end %>

    <%# Read more button %>
    <div class="text-right">
      <%= partial 'partials/atom/button.erb', locals: {
        href: locals[:url],
        context: 'primary',
        size:'xs',
        text: :'home.hero.button' } %>
    </div>

  </div>

</article>
